#Trusted{
    padding: 50px 0px 40px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    .trusted{
        h4{
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600;
            color: rgb(30, 30, 30);
            margin-bottom: 50px;
        }
    }
}